<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @user.first_name %> et encore merci !</h1>
    <p>
      Tu t'es inscrit à un évènement coquin près de chez toi. Bien jouré. Tu as utilisé l'e-mail suivant : <%= @user.email %>.
    </p>
    <p>
      Pour accéder à ton espace client, connecte-toi via : <%= @url %>.
    </p>
    <p> À très vite sur monsitecoquin.fr !
  </body>
</html>