/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Custom CSS for the navbar */
.navbar {
  background-color: #71ae68; /* Light green background color */
}

.navbar-brand,
.navbar-nav .nav-link {
  color: #333; /* Dark text color */
}

.navbar-brand:hover,
.navbar-nav .nav-link:hover {
  color: #555; /* Darker text color on hover */
}

.dropdown-menu {
  background-color: #1d3e18; /* Light green background color for dropdown menu */
}

.dropdown-item {
  color: #333; /* Dark text color for dropdown items */
}

.dropdown-item:hover {
  background-color: #a0d6a1; /* Light green background color on hover */
  color: #333; /* Dark text color on hover */
}

 @import 'bootstrap/scss/bootstrap';
 @import 'bootstrap-icons/font/bootstrap-icons'; 
